# Enable board support
CONFIG_BOARD_VICHARAK_VAAMAN=y

# Enable RTL8822CS Wi-Fi support
CONFIG_RTL8822CS=m

# Disable unused UART BT drivers
# CONFIG_BT_HCIUART_3WIRE is not set
# CONFIG_BT_HCIUART_BCM is not set
# CONFIG_BT_HCIUART_H4 is not set
# CONFIG_BT_HCIUART_LL is not set
# CONFIG_BT_HCIUART_MRVL is not set
# CONFIG_BT_HCIUART_NOKIA is not set
# CONFIG_BT_HCIUART_QCA is not set
# CONFIG_BT_HCIUART_RTL is not set
# CONFIG_BT_MTKUART is not set
# CONFIG_BT_RTK_HCIUART_H4 is not set

# Disable Rave SP MCU core support
# CONFIG_RAVE_SP_CORE is not set

# Disable PMS7003 support
# CONFIG_PMS7003 is not set

# Enable Realtek UART bluetooth support
CONFIG_RTKBT_UART=y

# Enable serial device bus support
CONFIG_SERIAL_DEV_BUS=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y

# Enable PCA9570 GPO expander support
CONFIG_GPIO_PCA9570=y

# Compile SPI rockchip as module
CONFIG_SPI_ROCKCHIP=m

# Enable SPI slave support
CONFIG_SPI_SLAVE=y
# CONFIG_SPI_SLAVE_TIME is not set
# CONFIG_SPI_SLAVE_SYSTEM_CONTROL is not set
CONFIG_SPI_SLAVE_ROCKCHIP_OBJ=y

# Enable SPI NOR misc support
CONFIG_MTD_SPI_NOR_MISC=y

# Disable SPI rockchip SFC support
# CONFIG_SPI_ROCKCHIP_SFC is not set

# Enable overlay support
CONFIG_OF_OVERLAY=y

# Enable overlay fs support
CONFIG_OVERLAY_FS=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=y
# CONFIG_OVERLAY_FS_INDEX is not set
# CONFIG_OVERLAY_FS_XINO_AUTO is not set
# CONFIG_OVERLAY_FS_METACOPY is not set

# Enable Virtual camera support
CONFIG_VIDEO_VIRT_CAMERA=y
