# Enable Board Support
CONFIG_ARCH_VICHARAK=y
CONFIG_BOARD_VICHARAK_VAAMAN=y

# Enable PCA953x GPIO expander
CONFIG_GPIO_PCA953x=y

# Disable unused WiFi drivers
# CONFIG_BCMDHD is not set
# CONFIG_AP6XXX is not set
# CONFIG_RTL8723CS is not set
# CONFIG_RTL8821CS is not set
# CONFIG_RTL8822BS is not set

# Enable RTL8822CS WiFi
CONFIG_RTL8822CS=y

# Disable unused Bluetooth drivers
# CONFIG_BT_BCM is not set
# CONFIG_BT_HCIBFUSB is not set
# CONFIG_BT_HCIBTUSB is not set
# CONFIG_BT_HCIUART_ATH3K is not set
# CONFIG_BT_HCIUART_BCM is not set
# CONFIG_BT_HCIUART_LL is not set
# CONFIG_BT_HCIUART_NOKIA is not set
# CONFIG_BT_HCIUART_QCA is not set
# CONFIG_BT_INTEL is not set
# CONFIG_BT_MRVL is not set
# CONFIG_BT_MTKUART is not set
# CONFIG_RAVE_SP_CORE is not set

# Enable RTL8822CS Bluetooth
CONFIG_SERIAL_DEV_BUS=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
CONFIG_RTKBT_UART=y

# Enable Downstream FUSB_302 USB Type-C controller
# CONFIG_TYPEC_FUSB302 is not set
CONFIG_FUSB_30X=y

# Build SPI Rockchip driver as module
CONFIG_SPI_ROCKCHIP=m

# Enable LEDs trigger support
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_LEDS_TRIGGER_MULTI_CTRL=y

# Enable IMX219/OV5647 and FPGA read camera sensors
CONFIG_VIDEO_IMX219=y
CONFIG_VIDEO_OV5647=y
CONFIG_VIDEO_FPGA_READ=y

# Enable 4.4 kernel ES8316 driver
# CONFIG_SND_SOC_ES8316 is not set
CONFIG_SND_SOC_ES8316_V44=y
