# Enable board support
CONFIG_BOARD_VICHARAK_AXON=y

# Enable IO Expander support
CONFIG_GPIO_PCA953X=y
CONFIG_GPIO_PCA953X_IRQ=y
CONFIG_SPI_ROCKCHIP=y

# Enable MALI CSF support
CONFIG_MALI_CSF_SUPPORT=y
# CONFIG_MALI_CORESIGHT is not set

# Enable Panfrost DRM support
CONFIG_DRM_PANFROST=y

# Enable support for RTL8852BS wifi module
CONFIG_RTL8852BS=y

# Enables support for Realtek Bluetooth

CONFIG_BT_HCIUART_RTL=y
