# Increase the frequency of the timer interrupt to 1000Hz
CONFIG_HZ_1000=y

# Use the performance governor by default
# CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y

# Use -O3 optimization level
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y

# Disable unused ERRATUMs
# CONFIG_CAVIUM_ERRATUM_27456 is not set
# CONFIG_CAVIUM_ERRATUM_30115 is not set
# CONFIG_CAVIUM_TX2_ERRATUM_219 is not set
# CONFIG_FUJITSU_ERRATUM_010001 is not set
# CONFIG_HISILICON_ERRATUM_161600802 is not set
# CONFIG_QCOM_FALKOR_ERRATUM_1003 is not set
# CONFIG_QCOM_FALKOR_ERRATUM_1009 is not set
# CONFIG_QCOM_QDF2400_ERRATUM_0065 is not set
# CONFIG_QCOM_FALKOR_ERRATUM_E1041 is not set
# CONFIG_SOCIONEXT_SYNQUACER_PREITS is not set

# Disable unwanted CPU frequency scaling drivers
# CONFIG_CPU_FREQ_GOV_USERSPACE is not set
# CONFIG_CPU_FREQ_GOV_CONSERVATIVE is not set

# Enable Jump Label support
CONFIG_JUMP_LABEL=y

# Enable LSE atomics
CONFIG_ARM64_USE_LSE_ATOMICS=y

# Set westwood as the default TCP congestion control algorithm
# CONFIG_DEFAULT_CUBIC is not set
CONFIG_DEFAULT_WESTWOOD=y

# Disable CAN bus subsystem
# CONFIG_CAN is not set

# Enable ZRAM writeback
CONFIG_ZRAM_WRITEBACK=y

# Disable Devres Debugging
# CONFIG_DEBUG_DEVRES is not set

# Disable unwanted power management drivers
# CONFIG_BATTERY_CW2017 is not set
# CONFIG_BATTERY_SBS is not set
# CONFIG_CHARGER_GPIO is not set
# CONFIG_CHARGER_BQ24735 is not set
# CONFIG_CHARGER_BQ25700 is not set

# Disable Regulator Debugging
# CONFIG_REGULATOR_DEBUG is not set

# Disable TV support
# CONFIG_MEDIA_ANALOG_TV_SUPPORT is not set
# CONFIG_MEDIA_DIGITAL_TV_SUPPORT is not set
# CONFIG_MEDIA_RADIO_SUPPORT is not set
# CONFIG_MEDIA_SDR_SUPPORT is not set
# CONFIG_MEDIA_TEST_SUPPORT is not set

# Disable SII902X DRM driver
# CONFIG_DRM_SII902X is not set

# Disable Unused Audio codecs
# CONFIG_SND_SOC_ROCKCHIP_MAX98090 is not set
# CONFIG_SND_SOC_ROCKCHIP_RT5645 is not set
# CONFIG_SND_SOC_ES7202 is not set
# CONFIG_SND_SOC_ES7243E is not set
# CONFIG_SND_SOC_ES8311 is not set
# CONFIG_SND_SOC_ES8326 is not set
# CONFIG_SND_SOC_RK3308 is not set
# CONFIG_SND_SOC_RK3328 is not set
# CONFIG_SND_SOC_RT5616 is not set
# CONFIG_SND_SOC_RT5640 is not set
# CONFIG_SND_SOC_RT5651 is not set
# CONFIG_SND_SOC_TS3A227E is not set

# Disable HUSB311 Type-C PHY driver
# CONFIG_TYPEC_HUSB311 is not set

# Disable unused LEDs driver
# CONFIG_LEDS_IS31FL32XX is not set

# Disable unused CPU support
# CONFIG_CPU_PX30 is not set
# CONFIG_CPU_RK1808 is not set
# CONFIG_CPU_RK3328 is not set
# CONFIG_CPU_RK3568 is not set

# Disable unused sensors
# CONFIG_SENSORS_ISL29018 is not set
# CONFIG_SENSORS_TSL2563 is not set
# CONFIG_TSL2583 is not set

# Disable static keys selftest
# CONFIG_STATIC_KEYS_SELFTEST is not set

# Disable debug information for the kernel
# CONFIG_DEBUG_INFO is not set
