// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2023 Vicharak Computers LLP
 */

/dts-v1/;

#include "rk3399-vaaman.dtsi"
#include "rk3399-linux.dtsi"
#include "rk3399-vaaman-mipi-txrx.dtsi"

/ {
	model = "Vicharak RK3399 VAAMAN VO.3 LINUX";
	compatible = "vicharak,rk3399-vaaman", "rockchip,rk3399";

	aliases {
		mmc0 = &sdmmc;
		mmc1 = &sdhci;
		mmc2 = &sdio0;
	};

	/delete-node/ chosen;
	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff1a0000 console=ttyFIQ0 coherent_pool=1m";
	};

	// Power Button: {{{
	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		autorepeat;
		pinctrl-names = "default";
		pinctrl-0 = <&pwrbtn>;
		status = "okay";

		power {
			debounce-interval = <100>;
			gpios = <&gpio0 RK_PA5 GPIO_ACTIVE_LOW>;
			label = "GPIO Key Power";
			linux,code = <KEY_POWER>;
			wakeup-source;
		};
	};
	// End of Power Button }}}
};

&fiq_debugger {
	status = "okay";
};

&display_subsystem {
	status = "okay";
};

&route_edp {
	connect = <&vopl_out_edp>;
	status = "okay";
};

&hdmi_in_vopb {
	status = "okay";
};

&hdmi {
	status = "okay";
};

&route_hdmi {
	connect = <&vopb_out_hdmi>;
	status = "okay";
};

&hdmi_sound {
	status = "okay";
};

&pinctrl {
	// Power Button: {{{
	power-button {
		pwrbtn: pwrbtn {
			rockchip,pins =
				<0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
	// End of Power Button }}}
};
