// SPDX-License-Identifier: GPL-2.0+
// Copyright (C) 2023 Vicharak Computers LLP

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/display/drm_mipi_dsi.h>

/ {
	metadata {
		title = "Enable Waveshare 4inch DSI LCD";
		compatible = "vicharak,rk3399-vaaman", "rockchip,rk3399";
		category = "display";
		exclusive = "dsi";
		description = "Enable support for Waveshare 4inch DSI LCD\nWARNING: This will disable HDMI/DP output";
	};

	fragement@0 {
		target = <&dsi>;

		__overlay__ {
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;

					dsi_out_panel: endpoint {
						remote-endpoint = <&panel_in_dsi>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&i2c7>;

		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			waveshare_panel: panel@45 {
				compatible = "waveshare,4.0inch-panel";
				reg = <0x45>;
				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;

						panel_in_dsi: endpoint {
							remote-endpoint = <&dsi_out_panel>;
						};
					};
				};
			};

			touch: goodix@14 {
				reg = <0x14>;
				compatible = "goodix,gt911";
				status = "okay";
			};
		};
	};

	fragment@3 {
		target = <&dsi_in_vopl>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@4 {
		target = <&dsi_in_vopb>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&dp_in_vopb>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragement@6 {
		target = <&edp_in_vopb>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@7 {
		target = <&route_dsi>;

		__overlay__ {
			status = "okay";
			connect = <&dsi_in_vopb>;
		};
	};

	fragment@8 {
		target = <&route_edp>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@9 {
		target = <&route_hdmi>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@10 {
		target = <&route_dp>;

		__overlay__ {
			status = "disabled";
		};
	};
};
