// SPDX-License-Identifier: GPL-2.0+
// Copyright (C) 2023 Vicharak Computers LLP

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/rk3399-cru.h>
#include <dt-bindings/display/media-bus-format.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
	metadata {
		title = "Enable FPGA Communication on Vaaman";
		compatible = "vicharak,rk3399-vaaman", "rockchip,rk3399";
		category = "misc";
		exclusive = "rkisp1_1", "mipi_dphy_tx1rx1", "edp", "edp_in_vopl";
		description = "Enables FPGA RX and TX communication on Vaaman, Enable this for configuring FPGA as well as enabling RX TX communication between processor and FPGA";
	};

	fragment@0 {
		target-path = "/";

		__overlay__ {
			edp-panel {
				compatible = "simple-panel";
				status = "okay";

				port {
					panel_in_edp: endpoint {
						remote-endpoint = <&edp_out_panel>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&edp>;

		__overlay__ {
			status = "okay";
			force-hpd;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				edp_out: port@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;

					edp_out_panel: endpoint@0 {
						reg = <0>;
						remote-endpoint = <&panel_in_edp>;
					};
				};
			};
		};
	};

	fragment@2 {
		target = <&edp_in_vopl>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&vopl>;

		__overlay__ {
			assigned-clocks = <&cru DCLK_VOP1_DIV>;
			assigned-clock-parents = <&cru PLL_CPLL>;
			status = "okay";
		};
	};

	fragment@4 {
		target = <&vopl_mmu>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&spi1>;

		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			w25q128: spi-flash@0 {
				reg = <0>;
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "winbond,w25q128", "jedec,spi-nor";
				spi-max-frequency = <30000000>;
				status = "okay";
			};
		};
	};

	fragment@6 {
		target = <&i2c4>;

		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			camera_fpga: camera-fpga@69 {
				compatible = "rockchip,virtual-camera";
				reg = <0x69>;
				width = <640>;
				height = <480>;
				bus-format = <MEDIA_BUS_FMT_RGB888_1X24>;

				port {
					ucam_out1: endpoint {
						remote-endpoint = <&mipi_in_ucam1>;
						link-frequencies = /bits/ 64 <600000000>;
						data-lanes = <1 2 3 4>;
					};
				};
			};
		};
	};

	fragment@7 {
		target = <&rkisp1_1>;

		__overlay__ {
			status = "okay";

			port {
				#address-cells = <1>;
				#size-cells = <0>;

				isp1_mipi_in: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&dphy_tx1rx1_out>;
				};
			};
		};
	};

	fragment@8 {
		target = <&isp1_mmu>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target = <&mipi_dphy_tx1rx1>;

		__overlay__ {
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					#address-cells = <1>;
					#size-cells = <0>;

					mipi_in_ucam1: endpoint@1 {
						reg = <1>;
						remote-endpoint = <&ucam_out1>;
						data-lanes = <1 2 3 4>;
					};
				};

				port@1 {
					reg = <1>;
					#address-cells = <1>;
					#size-cells = <0>;

					dphy_tx1rx1_out: endpoint@0 {
						reg = <0>;
						remote-endpoint = <&isp1_mipi_in>;
					};
				};
			};
		};
	};

	fragment@10 {
		target = <&pinctrl>;

		__overlay__ {
			i2c4_xfer: i2c4-xfer {
				rockchip,pins =
					<1 RK_PB3 RK_FUNC_1 &pcfg_pull_up>,
					<1 RK_PB4 RK_FUNC_1 &pcfg_pull_up>,
					<1 RK_PB5 RK_FUNC_GPIO &pcfg_output_high>;
			};
		};
	};
};
