// SPDX-License-Identifier: GPL-2.0+
// Copyright (C) 2024 Vicharak Computers PVT LTD

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

&{/} {
    metadata {
        title = "Enable RasPi Camera V1.3 (OV5647) on CSI1 D0,1 dphy4 Axon V0.3";
        compatible = "vicharak,rk3588-axon", "rockchip,rk3588";
        category = "camera";
        exclusive = "ov5647_6_36", "csi2_dphy4", "mipi4_csi2", "rkcif_mipi_lvds4", "rkcif_mipi_lvds4_sditf", "rkisp1_vir1";
        description = "Enables OV5647 based RaspberryPi Camera V1.3 on\nVicharak Axon at I2C 6 bus address 36 on dphy4";
    };

    cam5_ov5647_pwdn_gpio: cam5-pwdn-gpio {
         status = "okay";
         compatible = "regulator-fixed";
         regulator-name = "cam5_pwdn_gpio";
         regulator-always-on;
         regulator-boot-on;
         enable-active-high;
         gpio = <&gpio1 RK_PB1 GPIO_ACTIVE_HIGH>;
         pinctrl-names = "default";
         pinctrl-0 = <&cam5_pwdn_gpio>;
    };

    clk_cam5_25m: external-cam5-clock-25m {
         status = "okay";
         compatible = "fixed-clock";
         clock-frequency = <25000000>;
         clock-output-names = "clk_cam5_25m";
         #clock-cells = <0>;
    };

};

&i2c6 {
         status = "okay";
		 #address-cells = <1>;
		 #size-cells = <0>;
         cam5_ov5647_36: cam5-ov5647@36 {
                 status = "okay";
		 compatible = "ovti,ov5647";
		 reg = <0x36>;
 
                 clocks = <&clk_cam5_25m>;
                 clock-names = "xvclk";
 
                 rockchip,camera-module-index = <0>;
                 rockchip,camera-module-facing = "back";
                 rockchip,camera-module-name = "rpi-camera-v1";
                 rockchip,camera-module-lens-name = "default";
 
                 port {
                         cam5_ov5647_out0: endpoint {
                                 remote-endpoint = <&mipidphy4_in_ucam5>;
                                 data-lanes = <1 2>;
                         };
                 };
         };
 };

&csi2_dphy4 {
        status = "okay";

        ports {
                #address-cells = <1>;
                #size-cells = <0>;

                port@0 {
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipidphy4_in_ucam5: endpoint@1 {
                                reg = <1>;
                                remote-endpoint = <&cam5_ov5647_out0>;
                                data-lanes = <1 2>;
                        };

                };

                port@1 {
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        csidphy4_out: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&mipi4_csi2_input>;
                        };
                };
        };
};

&mipi4_csi2 {
        status = "okay";

        ports {
                #address-cells = <1>;
                #size-cells = <0>;

                port@0 {
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi4_csi2_input: endpoint@1 {
                                reg = <1>;
                                remote-endpoint = <&csidphy4_out>;
                        };
                };

                port@1 {
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi4_csi2_output: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&cif_mipi4_in0>;
                        };
                };
        };
};

&rkcif {
        status = "okay";
};

&rkcif_mipi_lvds4 {
        status = "okay";

        port {
                cif_mipi4_in0: endpoint {
                        remote-endpoint = <&mipi4_csi2_output>;
                };
        };
};

&rkcif_mipi_lvds4_sditf {
        status = "okay";

        port {
                mipi_lvds4_sditf: endpoint {
                        remote-endpoint = <&isp1_vir1>;
                };
        };
};

&rkcif_mmu {
        status = "okay";
};

&rkisp1 {
        status = "okay";
};

&isp1_mmu {
        status = "okay";
};

&rkisp1_vir1 {
        status = "okay";

        port {
                #address-cells = <1>;
                #size-cells = <0>;

                isp1_vir1: endpoint@0 {
                        reg = <0>;
                        remote-endpoint = <&mipi_lvds4_sditf>;
                };
        };
};

&pinctrl {
        camera {
                cam5_pwdn_gpio: cam5-pwdn-gpio {
                        rockchip,pins = <1 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
                };
        };
};
