// SPDX-License-Identifier: GPL-2.0+
// Copyright (C) 2024 Vicharak Computers PVT LTD

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

&{/} {
    metadata {
        title = "Enable RasPi Camera V1.3 (OV5647) on CSI0 D0,1 dphy1 Axon V0.3";
        compatible = "vicharak,rk3588-axon", "rockchip,rk3588";
        category = "camera";
        exclusive = "ov5647_1_36", "csi2_dphy1", "mipi2_csi2", "rkcif_mipi_lvds2", "rkcif_mipi_lvds2_sditf", "rkisp0_vir2";
        description = "Enables OV5647 based RaspberryPi Camera V1.3 on\nVicharak Axon at I2C 1 bus address 36 on dphy1";
    };

    cam3_ov5647_pwdn_gpio: cam3-pwdn-gpio {
         status = "okay";
         compatible = "regulator-fixed";
         regulator-name = "cam3_pwdn_gpio";
         regulator-always-on;
         regulator-boot-on;
         enable-active-high;
         gpio = <&gpio1 RK_PB5 GPIO_ACTIVE_HIGH>;
         pinctrl-names = "default";
         pinctrl-0 = <&cam3_pwdn_gpio>;
    };

    clk_cam3_25m: external-cam3-clock-25m {
         status = "okay";
         compatible = "fixed-clock";
         clock-frequency = <25000000>;
         clock-output-names = "clk_cam3_25m";
         #clock-cells = <0>;
    };

};

&i2c1 {
         status = "okay";
		 #address-cells = <1>;
		 #size-cells = <0>;
         cam3_ov5647_36: cam3-ov5647@36 {
                 status = "okay";
		 compatible = "ovti,ov5647";
		 reg = <0x36>;
 
                 clocks = <&clk_cam3_25m>;
                 clock-names = "xvclk";
 
                 rockchip,camera-module-index = <0>;
                 rockchip,camera-module-facing = "back";
                 rockchip,camera-module-name = "rpi-camera-v1";
                 rockchip,camera-module-lens-name = "default";
 
                 port {
                         cam3_ov5647_out0: endpoint {
                                 remote-endpoint = <&mipidphy1_in_ucam3>;
                                 data-lanes = <1 2>;
                         };
                 };
         };
 };

&csi2_dphy1 {
        status = "okay";

        ports {
                #address-cells = <1>;
                #size-cells = <0>;

                port@0 {
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipidphy1_in_ucam3: endpoint@1 {
                                reg = <1>;
                                remote-endpoint = <&cam3_ov5647_out0>;
                                data-lanes = <1 2>;
                        };

                };

                port@1 {
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        csidphy1_out: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&mipi2_csi2_input>;
                        };
                };
        };
};

&mipi2_csi2 {
        status = "okay";

        ports {
                #address-cells = <1>;
                #size-cells = <0>;

                port@0 {
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi2_csi2_input: endpoint@1 {
                                reg = <1>;
                                remote-endpoint = <&csidphy1_out>;
                        };
                };

                port@1 {
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi2_csi2_output: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&cif_mipi2_in0>;
                        };
                };
        };
};

&rkcif {
        status = "okay";
};

&rkcif_mipi_lvds2 {
        status = "okay";

        port {
                cif_mipi2_in0: endpoint {
                        remote-endpoint = <&mipi2_csi2_output>;
                };
        };
};

&rkcif_mipi_lvds2_sditf {
        status = "okay";

        port {
                mipi_lvds2_sditf: endpoint {
                        remote-endpoint = <&isp0_vir2>;
                };
        };
};

&rkcif_mmu {
        status = "okay";
};

&rkisp0 {
        status = "okay";
};

&isp0_mmu {
        status = "okay";
};

&rkisp0_vir2 {
        status = "okay";

        port {
                #address-cells = <1>;
                #size-cells = <0>;

                isp0_vir2: endpoint@0 {
                        reg = <0>;
                        remote-endpoint = <&mipi_lvds2_sditf>;
                };
        };
};

&pinctrl {
        camera {
                cam3_pwdn_gpio: cam3-pwdn-gpio {
                        rockchip,pins = <1 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up>;
                };
        };
};
