// SPDX-License-Identifier: GPL-2.0+
// Copyright (C) 2024 Vicharak Computers PVT LTD

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

&{/} {
    metadata {
        title = "Enable RasPi camera V1.3 (OV5647) on dphy RX1 Axon V0.3";
        compatible = "vicharak,rk3588-axon", "rockchip,rk3588";
        category = "camera";
        exclusive = "ov5647_5_36", "csi2_dcphy1", "mipi1_csi2", "rkcif_mipi_lvds1", "rkcif_mipi_lvds1_sditf", "rkisp0_vir1";
        description = "Enables OV5647 based RaspberryPi camera V1.3 on\nVicharak Axon at I2C 5 bus address 36 on Top Connector dcphy1";
    };

    cam1_ov5647_pwdn_gpio: cam1-pwdn-gpio {
         status = "okay";
         compatible = "regulator-fixed";
         regulator-name = "cam1_pwdn_gpio";
         regulator-always-on;
         regulator-boot-on;
         enable-active-high;
         gpio = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
         pinctrl-names = "default";
         pinctrl-0 = <&cam1_pwdn_gpio>;
    };

    clk_cam1_25m: external-cam1-clock-25m {
         status = "okay";
         compatible = "fixed-clock";
         clock-frequency = <25000000>;
         clock-output-names = "clk_cam1_25m";
         #clock-cells = <0>;
    };

};

&i2c5 {
         status = "okay";
		 #address-cells = <1>;
		 #size-cells = <0>;
		 clock-frequency = <400000>;
		 pinctrl-names = "default";
		 pinctrl-0 = <&i2c5m0_xfer>;
         cam1_ov5647_36: cam1-ov5647@36 {
         status = "okay";
		 compatible = "ovti,ov5647";
		 reg = <0x36>;
 
                 clocks = <&clk_cam1_25m>;
                 clock-names = "xvclk";
 
	             rockchip,camera-module-index = <0>;
                 rockchip,camera-module-facing = "back";
                 rockchip,camera-module-name = "rpi-camera-v1";
                 rockchip,camera-module-lens-name = "default";
 
                 port {
                         cam1_ov5647_out0: endpoint {
                                 remote-endpoint = <&mipidcphy1_in_ucam1>;
                                 data-lanes = <1 2>;
                         };
                 };
         };
 };

&csi2_dcphy1 {
        status = "okay";

        ports {
                #address-cells = <1>;
                #size-cells = <0>;

                port@0 {
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipidcphy1_in_ucam1: endpoint@1 {
                                reg = <1>;
                                remote-endpoint = <&cam1_ov5647_out0>;
                                data-lanes = <1 2>;
                        };

                };

                port@1 {
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        csidcphy1_out: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&mipi1_csi2_input>;
                        };
                };
        };
};

&mipi1_csi2 {
        status = "okay";

        ports {
                #address-cells = <1>;
                #size-cells = <0>;

                port@0 {
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi1_csi2_input: endpoint@1 {
                                reg = <1>;
                                remote-endpoint = <&csidcphy1_out>;
                        };
                };

                port@1 {
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi1_csi2_output: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&cif_mipi_in0>;
                        };
                };
        };
};

&rkcif {
        status = "okay";
};

&rkcif_mipi_lvds1 {
        status = "okay";

        port {
                cif_mipi_in0: endpoint {
                        remote-endpoint = <&mipi1_csi2_output>;
                };
        };
};

&rkcif_mipi_lvds1_sditf {
        status = "okay";

        port {
                mipi_lvds1_sditf: endpoint {
                        remote-endpoint = <&isp0_vir1>;
                };
        };
};

&rkcif_mmu {
        status = "okay";
};

&rkisp0 {
        status = "okay";
};

&isp0_mmu {
        status = "okay";
};

&rkisp0_vir1 {
        status = "okay";

        port {
                #address-cells = <1>;
                #size-cells = <0>;

                isp0_vir1: endpoint@0 {
                        reg = <0>;
                        remote-endpoint = <&mipi_lvds1_sditf>;
                };
        };
};

&pinctrl {
        camera {
                cam1_pwdn_gpio: cam1-pwdn-gpio {
                        rockchip,pins = <1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>;
                };
        };
};
